<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-914-1658330363/blob/main/IBM_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Python

## 1. Split this string

In [1]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [6]:
planet = "Earth"
diameter = 12742

In [7]:
a="The diameter of {} is {} kilometers."
a.format(planet,diameter)

'The diameter of Earth is 12742 kilometers.'

## 3. In this nest dictionary grab the word "hello"

In [3]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [17]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [21]:
l=[]
for i in range(0,10):
  l.append(0)

l

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [24]:
l=[]
for i in range(0,10):
  l.append(5)
  
l

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

## 5. Create an array of all the even integers from 20 to 35

In [26]:
l=[]
for i in range(20,36):
  if(i%2==0):
    l.append(i)

l

[20, 22, 24, 26, 28, 30, 32, 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [31]:
import numpy 
a=numpy.arange(0,9).reshape(3,3)
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [40]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
numpy.concatenate((a,b),axis=0)

array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [41]:
import pandas as pd

In [43]:
data={
    'SNO':[1,2,3],
    'NAME':["S","M","S"]
}

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [49]:
import datetime
start=datetime.datetime.strptime('01-01-2023','%d-%m-%Y')
date=pd.date_range(start,"10-02-2023")
date.strftime('%d-%m-%Y')

Index(['01-01-2023', '02-01-2023', '03-01-2023', '04-01-2023', '05-01-2023',
       '06-01-2023', '07-01-2023', '08-01-2023', '09-01-2023', '10-01-2023',
       ...
       '23-09-2023', '24-09-2023', '25-09-2023', '26-09-2023', '27-09-2023',
       '28-09-2023', '29-09-2023', '30-09-2023', '01-10-2023', '02-10-2023'],
      dtype='object', length=275)

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [50]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [52]:
pd.DataFrame(lists)

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24